<section class="auth-container">
    <form action="/login" method="POST">
        <fieldset>
            <legend>Entre na sua conta</legend>
        </fieldset>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Seu e-mail cadastrado" required>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Sua senha" required>
        
        <input type="submit" value="Entrar">
        
        <a href="/registrar" class="auth-link">Ainda não possui uma conta? Registre-se</a>
    </form>
</section>