<div class="auth-container">
    <form action="/createGe" method="POST">
        <fieldset>
            <legend>Adicionar Noticia Ge</legend>
    
            <label for="titulo">Insira o título:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Minha nova notícia" required>
            
            <label for="conteudo">Digite sua notícia:</label>
            <textarea name="conteudo" id="conteudo" placeholder="Escreva o resumo aqui..."></textarea>
            
            <label for="image">URL da imagem:</label>
            <input type="text" name="image" id="image" placeholder="http://...">

            <label for="link">Insira o link da noticia:</label>
            <input type="text" name="link" id="" placeholder="http://.....">

    
            <label for="autor">Autora:</label>
            <input type="text" name="autor" id="autor" placeholder="Gabriela Bandeiras">
            
            <input type="submit" value="Enviar Notícia">
        </fieldset>
    </form>
</div>